<!DOCTYPE html>
<html lang="en">

<head>
	<title>Transformation</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="../static/index/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="../static/index/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../static/index/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- header -->
	<header>
		<div class="logo ml-sm-4 ml-2 mt-3">
			<a href="/"><span class="fa fa-stumbleupon"></span></a>
		</div>
		<!-- menu -->
		<ul id="menu">
			<li>
				<input id="check02" type="checkbox" name="menu" />
				<label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
				<ul class="submenu">
					<li><a href="/">Home</a></li>
					<li><a href="/trans" class="active">Transformation</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="services.html">Document</a></li>
				</ul>
			</li>
		</ul>
		<!-- //menu -->
	</header>
	<!-- //header -->

	<!-- contact -->
	<div class="contact he-codes">
		<!-- contact content -->
		<div class="contact-cont pt-5 pb-xl-5 pb-3">
			<h3 class="title text-center text-wh font-weight-bold">Transformation</h3>
			<div class="container pt-5">
				<div class="row mail-w3l-w3pvt- mt-xl-4">
					<div class="col-lg-6">
						<div class="w3pvt-info_mail_grid_right">

                            <div class="form-group">
                                <input type="text" name="url" class="form-control" placeholder="Detail Url" required="">
                            </div>
                            <div class="form-group">
                                <style>
                                    #itemlist {
                                        width: 100%;
                                        height: 50px;
                                    }
                                </style>

                                <select id="itemlist">
                                    <option value="47">社会</option>
                                    <option value="48">娱乐</option>
                                    <option value="49">健康</option>
                                    <option value="50">时尚</option>
                                    <option value="51">科技</option>
                                    <option value="52">汽车</option>
                                    <option value="53">财经</option>
                                    <option value="54">人文</option>
                                    <option value="55">游戏</option>
                                    <option value="56">星座</option>
                                    <option value="59">国内</option>
                                    <option value="60">国际</option>
                                    <option value="61">体育</option>
                                    <option value="62">家具</option>
                                    <option value="63">测试</option>
                                    <option value="64">笑话</option>
                                    <option value="65">情感</option>
                                    <option value="67">美女</option>
                                    <option value="68">军事</option>
                                    <option value="69">奇闻</option>
                                    <option value="70">美容</option>
                                    <option value="71">美食</option>
                                    <option value="72">美体</option>
                                    <option value="73">美图</option>
                                    <option value="74">360搜索</option>
                                    <option value="75">NBA</option>
                                    <option value="76">CBA</option>
                                    <option value="77">中超</option>
                                    <option value="78">英超</option>
                                    <option value="79">西甲</option>
                                    <option value="80">体育综合</option>
                                    <option value="81">世界杯</option>
                                    <option value="82">亚洲杯</option>
                                    <option value="83">欧冠</option>
                                    <option value="84">意甲</option>
                                    <option value="85">萌宠</option>
                                </select>
                            </div>
                            <button type="submit" class="btn">Submit</button>
						</div>
					</div>
					<div class="col-lg-5 mt-lg-0 mt-5">
						<div class="contact-left-w3ls p-5">
							<h1>Transfer info</h1>
							<div class="row visit">
								<div class="col-md-10 col-sm-10 col-10 contact-text-w3pvt-info" id="info">
									<p>redis info</p>
                                    {% if data %}
                                        <p>video host: {{ data.get('video_host') }}</p>
                                        <p>video url:{{ data.get('video_url') }}</p>
                                        <p>'</p>
                                        <p>'</p>
                                    {% endif %}
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- //contact content -->
	</div>
	<!-- //contact -->
<script src="../static/index/js/RHEL-server-7.0-x86_64-LinuxProbe.Com.js"></script>
<script>
    $('.btn').click(function (e) {
        e.stopPropagation();
        var value = $('.form-control').val()
        var category  =$("#itemlist option:selected").val();
        $.ajax({
            url:'/transfer',
            type: 'POST',
            data:{
                url: value,
                category: category
            },
            success: function(res) {
              alert('成功')
                console.log(res)
                $('#app').html(`<p>${res.error} &nbsp </p>`)
            },
            error: function(err) {
              console.error(err)
            },
            dataType: 'json'
        })
    })
</script>

</body>

</html>